.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  border: 2px solid var(--header-title-color);
  border-radius: 2px;
  .checkbox__input:checked + & {
    background-color: var(--accent-text-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: var(--accent-text-color);
    border-radius: 2px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;

  color: var(--first-text-color);
  &:focus {
    background-color: var(--accent-text-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: var(--accent-text-color);
    border-radius: 2px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.checkbox__contract {
  text-decoration-line: underline;
  color: #2196f3;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
