:root {
  --header-title-color: #212121;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --hero-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --duration: 250ms;
  --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
